body {
    background-color: #eee;
}
.container {
    margin-top: 50px;
}
#login-form {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
}
.header {
    background: lightsalmon;
    height: 80px;
}
.row img{
    height: 240px;
}
.footer{
    background: lightsalmon;
    height: 80px;
    font-size: 20px;
    margin-top: 190px;
}
.header img{
    margin-top: 10px;
}
.menu{
    z-index: 1;
    position: absolute;
}
.menu ul{
    display: flex;
    margin-left: 100px;
    margin-top: -45px;
    list-style: none;
}
.menu ul li {
    margin-left: 40px;
}
.menu ul li a{
    text-decoration: none;
    color: black;
    font-size: large;
}
.icon{
    position: absolute;
    display: flex;
    z-index: 1;
}