.header {
    background: lightsalmon;
    height: 80px;
}
.row img{
    height: 240px;
}
.footer{
    background: lightsalmon;
    height: 80px;
    font-size: 20px;
}
.header img{
    margin-top: 10px;
}
.carousel-item img{
    height: 1000px;
}
.menu{
    z-index: 1;
    position: absolute;
}
.menu ul{
    display: flex;
    margin-left: 100px;
    margin-top: -45px;
    list-style: none;
}
.menu ul li {
    margin-left: 40px;
}
.menu ul li a{
    text-decoration: none;
    color: black;
    font-size: large;
}
.icon{
    position: absolute;
    display: flex;
    z-index: 1;
}
.figure-caption button{
    width: 200px;
    border-radius: 10px;
    color: white;
    background: crimson;
}
col-sm-4 figure {

}